

    <footer>
        <div class="footer-list">
            <div class="footer-box footer-3">
                <ul>
                    <li> <h5>Quick Links</h5> </li>
                    <li><a href="/"> Home </a></li>
                    <li><a href="/products"> Products </a></li>
                    <li><a href="/#about"> About us </a></li>
                    <li><a href="/#contact"> Contact </a></li>
                </ul>
            </div>
            <div class="footer-box footer-2">
                <ul>
                    <li> <h5>Quick Shop</h5> </li>
                    <li><a href="/admin"> Admin </a></li>
                    <li><a href="#"> Privacy </a></li>
                    <li><a href="#"> Warranty & Returns </a></li>
                </ul>
            </div>
            <div class="footer-box footer-4">
                <ul>
                    <li> <h5>See the latest and Follow us</h5> </li>
                    <li><a href="#"> facebook </a></li>
                    <li><a href="#"> instergram </a></li>
                    <li><a href="#"> twitter </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/public/script.js"></script>
</body>
</html>