<%- include('partials/adminheader.ejs') %>

    <div class="admin-all">
        <div class="count-main">
            <p>Total number of visit <span class="icon-form"> <i class="fas fa-level-down-alt"></i> </span></p>
            <div class="count">
                852
            </div>

            <p>Total number of products <span class="icon-form"> <i class="fas fa-level-down-alt"></i> </span></p>
            <div class="count">
                852
            </div>

            <p>Total number of oders <span class="icon-form"> <i class="fas fa-level-down-alt"></i> </span></p>
            <div class="count">
                852
            </div>
            
            <p>Total number of E-mails <span class="icon-form"> <i class="fas fa-level-down-alt"></i> </span></p>
            <div class="count">
                852
            </div>
        </div>  

    </div>

<%- include('partials/adminfooter.ejs') %>