<%- include('partials/header.ejs') %>

    

    <div style="height: 80vh;"  class="empty-cart">
        <h1>ODER IS SUCCESS</h1>
        <a href="/products">
            <button class="emptyButton">Back TO Home</button>
        </a>
    </div>



<%- include('partials/footer.ejs') %>